<h2><%= @restaurant.name %></h2>
<p>Address: <%= @restaurant.address %></p>

<%= link_to "Edit this restaurant", edit_restaurant_path(@restaurant) %>
<%= link_to "Delete this restaurant", restaurant_path(@restaurant),
      method: :delete,
      data: { confirm: "Please no?" } %>
<%= link_to "Back to restaurants", restaurants_path %>
